<form action="/create" method="POST">
    <h2>Добавить список дел</h2>

    <div class="input-field">
        <input type="text" name="title" class="j">
        <label class="test">Что хотите сделать?</label>
    </div>

    <button type="submit" class=" btn1">Добавить</button>
</form>